<html>
<head>
	<style type="text/css">
		table.gridtable {
			font-family: verdana,arial,sans-serif;
			font-size:11px;
			color:#333333;
			border-width: 1px;
			border-color: #666666;
			border-collapse: collapse;
		}
		table.gridtable th {
			border-width: 1px;
			padding: 8px;
			border-style: solid;
			border-color: #666666;
			background-color: #dedede;
		}
		table.gridtable td {
			border-width: 1px;
			padding: 8px;
			border-style: solid;
			border-color: #666666;
			background-color: #ffffff;
		}
	</style>
</head>
</head>
<body>
    <h1>{{ data.status }}</h1>
        <p>Summary: {{ data.commonAnnotations.summary }}</p>
        <hr/>
        <p>Details:</p>
	<!-- Table goes in the document BODY -->
	<table class="gridtable">
            <tr>
                    <td>Instance</td>
                    <td>StartAt</td>
                    <td>Status</td>
                    <td>Description</td>
                    <td>Summary</td>
            </tr>
            {% for alert in data.alerts %}
            <tr>
                    <td>{{ alert.labels.instance }}</td>
                    <td>{{ alert.startsAt }}</td>
                    <td>{{ alert.status }}</td>
                    <td>{{ alert.annotations.description }}</td>
                    <td>{{ alert.annotations.summary }}</td>
            </tr>
            {% endfor %}
    </table>
</body>
</html>

